@model Compras.Models.Suppliers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suppliers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.supplier_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
