@model IEnumerable<Compras.Models.Accounting_entries>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Auxiliar
        </th>
        <th>
            Fecha
        </th>
        <th>
            Descripción
        </th>
        <th>
            Cuenta Débito
        </th>
        <th>
            Cuenta Crédito
        </th>
        <th>
            Monto
        </th>
        <th>
            Estado
        </th>
        <th>
            ID Externo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuxiliarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableCuentaDebito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableCuentaCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableMonto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsientoContableEstado)
        </td>
        @if(item.AsientoContableExternoId == null)
        {
            <td>Sin enviar</td>
        }
        else
        {
            <td>@Html.DisplayFor(modelItem => item.AsientoContableExternoId)</td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsientoContableId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsientoContableId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsientoContableId }) 
            @if(item.AsientoContableExternoId == null)
            {
               <label> | </label>
               @Html.ActionLink("Enviar a Contabilidad", "EnviarAsientoContable", new { id=item.AsientoContableId })
            }
        </td>
    </tr>
}

</table>
