@model Compras.Models.Items

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Measurement_units.unit_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement_units.unit_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
