@model IEnumerable<Compras.Models.Items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Measurement_units.unit_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Measurement_units.unit_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.item_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.item_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.item_id })
        </td>
    </tr>
}

</table>
